[class^="#{$checkbox}-circle-"] {
  label {
    &:before {
      border-radius: $border-radius-full;
    }

    &:after {
      border-radius: $border-radius-full;
      left: 0.2em;
      top: 0.2em;
      background: $red;
      z-index: 2;
    }
  }
}

.#{$checkbox} {
  &-circle-2 {
    label {
      &:after {
        z-index: unset;
      }
    }
  }

  &-circle-4 {
    label {
      &:after {
        left: unset;
        top: unset;
        z-index: unset;
      }
    }
  }
}
