$brown: #50514f !default;
$yellow: #ffe066 !default;
$green: #70c1b3 !default;
$turquoise: #247ba0 !default;
$blue: #247ba0 !default;
$red: #f25f5c !default;
$light: #ffffff !default;

$base-font-size: 24px;
$base-easeing: ease;
$base-easing-speed: 0.1s;

$base-color: #333;
$base-contrast: #fcfff4;

$border-radius-full: 100%;
$border-radius-medium: 4px;
$border-radius-low: 50px;

$toggle-style-width: 2em;
$toggle-style-height: 1em;

$circle-style-width: 1em;
$circle-style-height: 1em;

$checkbox: "ckbx" !default;
