@keyframes switch-on {
  50% {
    transform: scaleX(1.3);
  }
}

@keyframes switch-off {
  50% {
    transform: scaleX(1.3);
  }
}

@keyframes switch-on-circle {
  50% {
    transform: scale(1.3);
  }
}

@keyframes switch-off-circle {
  50% {
    transform: scale(0.3);
  }
}

@keyframes stretch {
  50% {
    transform: scaleX(0.3);
  }
  100% {
    transform: scaleX(1.3);
  }
}
@keyframes stretchback {
  50% {
    transform: scaleX(0.3);
  }
  100% {
    transform: scaleX(1.3);
  }
}